@media (orientation: landscape) {
.logo{
    display: block;
    width: 60px;
    margin-right: auto;
}

.instagram{
    display: block;
    width: 30px;
    margin-right: 10px; 
}

.navdiv ul li a{
    text-decoration: none;
    color: #F6F1E3;
    padding: 20px;
    font-size: 16px;
}

.statement-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    max-width: 80%;
    margin: 0 auto;
}
.statement-image{
    object-fit: contain;
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    max-height: 300px;
}

.statement{
    color: #1E3F7F;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    flex-grow: 1;
    text-align: left;
}

}
@media (orientation: portrait) {    
    .logo{
        display: block;
        width: 40px;
        margin-right: auto;
    }
    
    .instagram{
        display: block;
        width: 20px;
        margin-right: 10px; 
    }
    

    .navdiv ul li a{
        text-decoration: none;
        color: #f6f1e3;
        padding: 20px;
        font-size: 12px;
    }
   
    
    .statement-div{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
        margin: auto;
        text-align: center;
    }
    .statement-image{
        object-fit: cover;
        flex-shrink: 0;
        height: auto;
        width: auto;
    }
    
    .statement{
        color: #1E3F7F;
        font-family: 'Lexend', sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        flex-grow: 1;
    }

}

.navbar{
    font-family: 'Lexend', sans-serif;
    background-color: #1E3F7F;
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    height: 60px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.navdiv ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto; /* Center menu items */
}

.navdiv ul li{
    display: inline;
}

body{
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding-top: 60px;
    box-sizing: border-box;
    background-color: #F6F1E3;
}

body, html {
    overflow-x: hidden;
}

.cover{
    position: relative;
    width: 100%;
    height: 50%;
    text-align: left;
    background-color: #1C5FB8;
    margin-left: auto;
    margin-right: auto;
}

.cover img{
    display: block;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}


img{
    max-width: 100%;
    height: auto;
}


footer{
    text-align: center;
    padding: 0.4rem;
    color: #F6F1E3;
    background-color: #1E3F7F;
    font-family: 'Lexend', sans-serif;
    position: relative;
    width: 100%;
    bottom: 0%;
    font-size: 8px;
}